
@import url("https://fonts.googleapis.com/css?family=Caveat|Open+Sans+Condensed:300|Playfair+Display|Poppins|Sacramento");

body {
  background-color: #eaf0f6;
  color: #ff4949;
  font-family: 'Lora', serif;
  font-size: 20px;
  letter-spacing: 0,5px;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}



h1, h2, h3 {
	font-family: 'Sacramento', sans-serif;
}


h1 {
	color: #c10000;
	font-weight: 900;
	font-size: 30px;
	font-family: 'Poppins', serif;
}

h2 {
	color: #c10000;
	font-weight: 500;
	font-size: 20px
	font-family: 'Sacramento', sans-serif;

}

a {
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px
}

p {
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px
}

a:hover {
	color: black;
	transition: 0,3s ease;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px
}


.img-circle { /* select all elements with the class="img-circle" */
  border-radius: 50%;

}

.container {
	width: 700px;
    margin: 40px auto;
    
} 

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
	padding: 40px;
	background-color: white;
	box-shadow: 0 18px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.btn-red {
	background-color: #eaf0f6;
	color: black;
	padding: 15px 50px;
	text-align: center;
	margin-bottom: 40px

}

.btn-red:hover {
	background-color: #f5f5f5;
	color: black;
	padding: 15px 50px;
	text-align: center;
	margin-bottom: 40px

}

.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left */

}

.list-inline li {
	display: inline;
	padding: 10px;
}


#text-bottom {
	margin-bottom: 40px
}

